<!doctype html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nick Fitness</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

   
    <link href="{% static 'pricing.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}" class="text-dark">Nick Fitness</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'join' %}">Premium</a>
        {% if user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'settings' %}">Settings</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Log In</a>
        {% endif %}
      </nav>
      {% if user.is_authenticated == False %}
      <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
      {% endif %}
    </div>

    {% block content %}
        {% endblock %}

</body>
</html>
